
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/ProximaNova-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  color: #343434;
}

li {
  list-style: none;
}

body {
  font-family: "Proxima Nova";
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 31px;
}

/* Header */

.header__info {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 305px;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__title {
  margin-right: 210px;
  width: 330px;
  display: flex;
  color: #3E72A1;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.shopping-cart {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopping-cart__img {
  margin-right: 11px;
}

.shopping-cart__title {
  font-weight: semibold;
  font-size: 14px;
}

.shopping-cart__amount {
  margin-top: 5px;
  font-size: 14px;
  color: #356592;
  font-weight: normal;
}

hr {
  margin-top: 20px;
  color: #D0D0D0;
  background-color: #D0D0D0;
  border: none;
  height: 2px;
}

.contacts-block {
  padding-top: 27px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.contacts-block__mobile {
  font-weight: 700;
}

.contacts-block__call-order {
  font-weight: 700;
}

.contacts-block__whatsapp {
  font-weight: 700;
}

.contacts-block__item img{
  margin-right: 10px;
}

.contacts-block__item:last-child {
  margin-top: 10px;
}

.contacts-block__input {
  width: 365px;
  padding: 9px;
  margin-right: 55px;
  margin-left: 10px;
}

.contacts-block__form {
  position: relative;
}

.contacts-block__input::placeholder {
  font-size: 12px;
}

.contacts-block__form img {
  position: absolute;
  top: 9px;
  right: 70px;
}

.contacts-block__item span {
  display: inline-block;
  margin-right: 15px;
}

.nav {
  width: 100%;
}

.nav__list {
  width: 100%;
  height: auto;
  display: flex;
}

.nav__item {
  width: 20%;
  padding: 15px 0 10px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #1F5486 0%, rgba(31, 84, 134, 0.887447) 14.06%, rgba(31, 84, 134, 0.77) 48.96%, rgba(31, 84, 134, 0.870918) 80.73%, #1F5486 100%);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.nav__item:hover {
  background: linear-gradient(180deg, #1F5486 0%, #3B6892 27.4%, rgba(59, 104, 146, 0.84) 41.98%, rgba(59, 104, 146, 0.94) 69.06%, #1F5486 100%);
}

.nav:active {
  background: linear-gradient(180deg, #1F5486 0%, rgba(31, 84, 134, 0.887447) 32.08%, rgba(31, 84, 134, 0.8) 48.96%, rgba(31, 84, 134, 0.870918) 64.9%, #1F5486 100%);
}

.nav ul li a {
  text-decoration: none;
  display: block;
  color: #FFF;
}